@keyframes panning {
    0% {
      background-position: 0% 0%;
    }
    75% {
      background-position: 0 100%;
    }
    200% {
      background-position: 0 0;
    }
  }
/* .Wrapper {
    position: relative;
    height:700px;
    width: 100%;
    background-color: black;
    background: black url(https://i.dailymail.co.uk/i/pix/2017/08/08/19/4313D02F00000578-0-image-a-2_1502215430833.jpg);
    background-size: 200%;
    animation: panning 50s infinite ease-in-out;

} */



.overlay{
    position:  absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    
}
.Text {
  position: relative;
  top: 200px;
    text-align: center;
    color: white;
    z-index: 11;
  
}
.NavWrapper {
  position: relative;
  margin-top: 600px;
}

.scrollspy {
  position: relative;
  margin: auto;
  
}

.scrollspy :hover {
  color: red;
}
.AboutWrapper {
  position: relative;
  width: 100%;
  height: 1200px;
 

  background: linear-gradient(-30deg, black 50%, lightsteelblue 50%);

}
.aboutHeading {
  position: relative;
  text-align: center;
  top: 100px;
 
  color: black;
}
.aboutMe {
  position: relative;
  width:1000px;
  height: auto;
  background-color: white;
  margin:  250px auto 200px auto;

  box-Shadow: 0 3px 6px grey, 0 3px 6px grey; 

 
}

.aboutPic {
  display:inline-block ;
  margin: 45px;
  border-Radius: 300px;
  height: 300px ;
  box-Shadow: 0 3px 6px #999 0 3px 6px #999;
  background-image: url("/images/myimage.jpeg");
}

.aboutDesc {
  padding-top: 50px;
  padding-right: 30px;

  
}

.langHeading {
  text-align: center;
}

.projectsWrapper {
  position: relative;
  width: 100%;
  height: 850px;
 background: linear-gradient(-30deg,lightsteelblue 50%, black 50%);
 
  
}

.projectHeading {
  text-align: center;
  margin-top: 100px;
 color: white;
  
  
  

}

.navTabs {
 
  
 

}


.projectDisplay {
  position:relative;
   margin:auto ;
   text-align: center;
  margin-Top:50px ;
  width: 900px ;
  height:600px;
  box-Shadow: 0 3px 6px black, 0 3px 6px black; 
  background-Color: black;
 
}
.buttons {
  position: relative;
  padding-top: 20px;
}
.myOfferWrapper {
  position: relative;
  width: 100%;
  height: 700px;
  background: linear-gradient(-30deg, black 50%, lightsteelblue 50%);
  
}
.offerHeading {
  text-align: center;
 
}
.myOffer {
  position: relative;
  width: 850px;
  height: 600px;
  background-color: grey;
  margin: auto;
}



.contactWrapper {
  position: relative;
  width: auto;
  height: 600px;
  background: linear-gradient(-30deg,lightsteelblue 50%, black 50%);
 margin: auto;

}

.contactHeading {
  text-align: center;
  margin-top: 50px !important; 
  color: white;
}

.formWrapper {
  position: relative;
  width: 700px;
  height: auto;
  margin: 50px auto;
  background-color: black;
  padding: 20px;
  box-Shadow: 0 3px 6px grey, 0 3px 6px grey; 
  color: white;
}
