.projectCard {
    position: relative;
    height: 200px;
    width: 200px;
    margin-bottom: 100px;
    color: white;
    
    background-position: center;
}

.projectCard:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    box-Shadow: 0 3px 6px red, 0 3px 6px red; 
  

}
.projectImage {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
}
