.card1 {
    background: #fff;
    border-radius: 2px;
    height: 700px; 
  ;
    position: relative;
    width: 175px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
    
  
  }
  
  .card1 > .img-container {
    height: 60%;
    
    text-align: center;
    background: black;
  }
  .card1 > .img-container > img {
    width: 60%
  }
  
  .card1 > .content {
    padding-left: 0%;
    padding-right: 1rem;
    font-size: 15px;
  }
  
  .card1 > .content > ul {
    list-style-type: none;
  }
  
  .card1> .content > ul > li {
    
  }
  .profileImageShowCase {
    position: relative;
    width: 100%;
    padding: 100px 20px 10px;
    
}